/analysis/.Rproj.user
/analysis/.Rhistory
/analysis/.RData
/analysis/.Ruserdata
/analysis/experimentData
/onlineExperiment/musicDiscovery.pem
/onlineExperiment/musicDiscovery.ppk
/onlineExperiment/client/build
/onlineExperiment/client/node_modules
/onlineExperiment/client/.DS_Store
/onlineExperiment/package-lock/.DS_Store
/onlineExperiment/package/.DS_Store
/onlineExperiment/server/node_modules
/onlineExperiment/server/.DS_Store
