/analysis/.Rproj.user
/analysis/.Rhistory
/analysis/.RData
/analysis/.Ruserdata
/analysis/experimentData
/onlineExperiment/.DS_Store
/onlineExperiment/.DS_Store
/onlineExperiment/musicDiscovery.pem
/onlineExperiment/musicDiscovery.ppk
/onlineExperiment/client/build
/onlineExperiment/client/node_modules
/onlineExperiment/client/.DS_Store
/onlineExperiment/client/package-lock.json
/onlineExperiment/client/package.json
/onlineExperiment/package/.DS_Store
/onlineExperiment/server/node_modules
/onlineExperiment/server/.DS_Store
/onlineExperiment/server/package-lock.json
/onlineExperiment/server/package.json
