.NowPlaying {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  max-height: 200px;
  margin-top: 50px;
  margin-right: 50px;
  padding: 2.5rem .88rem;
  background-color: rgba(6, 51, 100, 0.7);
  box-shadow: 0 4px 2px 2px #000000;
}

.NowPlaying h2 {
  padding-bottom: 10px;
}

.NowPlaying h3 {
  padding-top: 10px;
}

.Track-action {
  cursor: pointer;
  padding: .5rem;
  font-size: 1.05rem;
  transition: color .25s;
  border: 0px;
  background-color: rgba(0, 0, 0, 0);
  color: #fff;
}

.Track-action:hover {
  color: rgba(265, 265, 265, .5);
}

.NowPlayingButton {
  cursor: pointer;
  width: 8.11rem;
  padding: .77rem 0;
  border-radius: 54px;
  background-color: #32CD32;
  text-align: center;
  font-size: .833rem;
  transition: background-color .25s;
  border: 0px;
  color: #fff;
  font-weight: 500;
}

.NowPlayingButton:hover {
  background-color: rgba(6, 51, 100, 0.7);
}
